{% extends 'covid_web/base.html' %} {% block content %}
<section role="main" class="home--main-section">
  <div class="home__welcome-message--container">
    <h1 class="welcome-message__title">COVID-19 Word Cloud</h1>
    <p class="welcome-message__body">
      코로나바이러스 감염증 관련 최신 뉴스 트렌드를
    </p>
    <p class="welcome-message__body">Word Cloud로 시각화해 제공합니다.</p>
    <form method="post" action="{% url 'covid:news' %}">
        {% csrf_token %}
        <button type='submit' class="welcome-message__link-news">News >></button>
    </form>
  </div>
  <div class="home__data-visualization--container">
    <div class="data-visualization--container">
      <img
        alt="COVID-19 Visual Map"
        class="data-visualization__preview"
        src="/static/covid_visual-map.png"
      />
    </div>
    <div class="data-visualization--container">
      <img
        alt="COVID-19 Global Cumulative Cases"
        class="data-visualization__preview"
        src="/static/covid_cumulative-cases.png"
      />
    </div>
    <div class="data-visualization__link-status--container">
    <form method="post" action="{% url 'covid:status' %}">
        {% csrf_token %}
        <button type='submit' class="data-visualization__link-status">More >></button>
    </form>
    </div>
  </div>
</section>
{% endblock %}
