{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .hyperlink{
            font-size: 23px;
            color: dimgrey;
            text-align: right;
            line-height:30px;
        }   
    </style>
</head>
<body>
    <div class="container">
        <h1 style="font-size: 50px;">표</h1>
    </div>
    <h3 class="hyperlink"><a href="{% url 'covid:news' %}">News</a></h3>
    <h3 class="hyperlink"><a href="{% url 'covid:covid-info' %}">Basic Information</a></h3>
    <h3 class="hyperlink"><a href="{% url 'covid:precautions' %}">See Precautions</a></h3>
    <h3 class="hyperlink"><a href="{% url 'covid:qna' %}">See QnA</a></h3>
</body>
</html>