{% extends 'Covid_web/base.html' %} {% block content %}
<section role="main" class="home--main-section">
  <div class="home__welcome-message--container">
    <h2 class="welcome-message__title">Welcome to COVID-19 Word Cloud</h2>
    <p class="welcome-message__body--upper">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat totam
      quae et, beatae asperiores quaerat eveniet fuga consectetur nisi, quam,
      facilis repellat! Quasi dolor dolorem quidem ipsam velit. Ad totam
      eveniet, nam dolorum ex cum molestias iste voluptatibus aspernatur minima?
    </p>
    <p class="welcome-message__body--lower">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat totam
      quae et, beatae asperiores quaerat eveniet fuga consectetur nisi, quam,
      facilis repellat! Quasi dolor dolorem quidem ipsam velit. Ad totam
      eveniet, nam dolorum ex cum molestias iste voluptatibus aspernatur minima?
    </p>
    <button class="welcome-message__link-news">News</button>
  </div>
  <div class="home__data-visualization--container">
    <div class="data-visualization__box1--container">Chart/Map 1</div>
    <div class="data-visualization__box2--container">Chart/Map 2</div>
    <div class="data-visualization__link-status--container">
      <button class="data-visualization__link-status">News</button>
    </div>
  </div>
</section>
{% endblock %}
