{% extends 'covid_web/base.html' %} {% load static %} {% block content %}
<section role="main" class="precautions--main-section">
  <div class="precautions__precautions-list">
    <h1 class="precautions-list__title">To prevent the spread of COVID-19</h1>
    <p class="precautions-list__description">
      Protect yourself and others around you by knowing the facts and taking
      appropriate precautions. Follow advice provided by your local health
      authority.
    </p>
    <ul class="precuations-list__container">
      <li class="precautions-list__instruction">
        Clean your hands often. Use soap and water, or an alcohol-based hand
        rub.
      </li>
      <li class="precautions-list__instruction">
        Maintain a safe distance from anyone who is coughing or sneezing.
      </li>
      <li class="precautions-list__instruction">
        Wear a mask when physical distancing is not possible.
      </li>
      <li class="precautions-list__instruction">
        Don’t touch your eyes, nose or mouth.
      </li>
      <li class="precautions-list__instruction">
        Cover your nose and mouth with your bent elbow or a tissue when you
        cough or sneeze.
      </li>
      <li class="precautions-list__instruction">
        Stay home if you feel unwell.
      </li>
      <li class="precautions-list__instruction">
        If you have a fever, cough and difficulty breathing, seek medical
        attention.
      </li>
    </ul>
    <p class="precautions-list__description">
      Calling in advance allows your healthcare provider to quickly direct you
      to the right health facility. This protects you, and prevents the spread
      of viruses and other infections.
    </p>
    <h3 class="precautions-list__topic">Masks</h3>
    <p class="precautions-list__description">
      Masks can help prevent the spread of the virus from the person wearing the
      mask to others. Masks alone do not protect against COVID-19, and should be
      combined with physical distancing and hand hygiene. Follow the advice
      provided by your local health authority.
    </p>
  </div>

  <div class="precautions__questions-list">
    <h1 class="questions-list__title">QnA</h1>
    {% if questions %} {% for question in questions.all %}
    <form action="" method="post" class="question--container">
      {% csrf_token %}
      <p class="question__body">{{ question.question_text }}</p>
      <input type="hidden" name="_method" value="delete" />
      <input type="hidden" value="{{ question.pk }}" name="pk" />
      <input
        class="question__password-input"
        type="password"
        name="password"
        required
      />
      <button class="question__password-submit" type="submit">삭제</button>
    </form>
    {% endfor %} {% else %}
    <h3 class="precautions__message-no-question">There is no question</h3>
    {% endif %}
    <form action="" method="post" class="questions-list__ask">
      <h1 class="ask__title">Ask Questions</h1>
      {% csrf_token %}
      <textarea class="ask__body" name="question_text" required></textarea>
      <div class="ask__password--container">
        <label class="ask__password--label" for="password">Password</label>
        <input
          class="ask__password--input"
          type="password"
          name="password"
          required
        />
        <button class="ask__password--submit" type="submit">등록</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
